sentinel-logicapps/sentinel-la-closeincidentfromcase/sentinel-la-closeincidentfromcase.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "playbookName": {
            "defaultValue": "sentinel-la-closeincidentfromcase",
            "type": "string"
        },
        "sentinel-la-closeincidentfromalertURL": {
            "defaultValue": "sentinel-la-closeincidentfromalertURL",
            "type": "string"
        },
        "theHiveURL": {
            "defaultValue": "nviso-thehive.example.com",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureKeyVaultConnectionName": "[concat('azurekeyvault-', parameters('playbookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureKeyVaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('playbookName')]",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "sentinel-la-closeincidentfromalertURL": {
                            "defaultValue": "[parameters('sentinel-la-closeincidentfromalertURL')]",
                            "type": "String"
                        },
                        "theHiveURL": {
                            "defaultValue": "[parameters('theHiveURL')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "caseId": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "object": {
                                            "properties": {
                                                "customFields": {
                                                    "properties": {
                                                        "URLStruct": {
                                                            "properties": {
                                                                "incidentURL": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "alertStruct": {
                                                            "properties": {
                                                                "alertIDs": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "numberStruct": {
                                                            "properties": {
                                                                "incidentNumber": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "owner": {
                                                    "type": "string"
                                                },
                                                "resolutionStatus": {
                                                    "type": "string"
                                                },
                                                "resolutionSummary": {
                                                    "type": "string"
                                                },
                                                "severity": {
                                                    "type": "integer"
                                                },
                                                "source": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "tlp": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "objectId": {
                                            "type": "string"
                                        },
                                        "objectType": {
                                            "type": "string"
                                        },
                                        "operation": {
                                            "type": "string"
                                        },
                                        "organization": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each_alertjson_in_alertjsonarray": {
                            "foreach": "@variables('alertjsonarray')",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Append_incidentnumber_to_incidentnumbers_variable": {
                                            "runAfter": {},
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "incidentnumbers",
                                                "value": "@{body('Parse_alert_JSON')?['customFields']?['sentinelIncidentNumber']?['number']} "
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "call_sentinel-la-closeincidentfromalert_Logic_App": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "",
                                                        "'{ \"message\": \"Alert does not have a Sentinel incident number\"}'"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Parse_alert_JSON": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_alertjson_in_alertjsonarray')",
                                        "schema": {
                                            "properties": {
                                                "_id": {
                                                    "type": "string"
                                                },
                                                "_parent": {},
                                                "_routing": {
                                                    "type": "string"
                                                },
                                                "_type": {
                                                    "type": "string"
                                                },
                                                "_version": {
                                                    "type": "integer"
                                                },
                                                "artifacts": {
                                                    "items": {
                                                        "properties": {
                                                            "data": {
                                                                "type": "string"
                                                            },
                                                            "dataType": {
                                                                "type": "string"
                                                            },
                                                            "message": {},
                                                            "tags": {
                                                                "type": "array"
                                                            },
                                                            "tlp": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "tlp",
                                                            "tags",
                                                            "data",
                                                            "message",
                                                            "dataType"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "caseTemplate": {},
                                                "createdAt": {
                                                    "type": "integer"
                                                },
                                                "createdBy": {
                                                    "type": "string"
                                                },
                                                "customFields": {
                                                    "properties": {
                                                        "alertIds": {
                                                            "properties": {
                                                                "order": {
                                                                    "type": "integer"
                                                                },
                                                                "string": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "incidentURL": {
                                                            "properties": {
                                                                "order": {
                                                                    "type": "integer"
                                                                },
                                                                "string": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "sentinelIncidentNumber": {
                                                            "properties": {
                                                                "number": {
                                                                    "type": "integer"
                                                                },
                                                                "order": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "date": {
                                                    "type": "integer"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "follow": {
                                                    "type": "boolean"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "lastSyncDate": {
                                                    "type": "integer"
                                                },
                                                "severity": {
                                                    "type": "integer"
                                                },
                                                "source": {
                                                    "type": "string"
                                                },
                                                "sourceRef": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "type": "array"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "tlp": {
                                                    "type": "integer"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "updatedAt": {
                                                    "type": "integer"
                                                },
                                                "updatedBy": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "call_sentinel-la-closeincidentfromalert_Logic_App": {
                                    "runAfter": {
                                        "Parse_alert_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "details": {
                                                "caseId": "",
                                                "status": "@{body('Parse_alert_JSON')?['status']}"
                                            },
                                            "object": {
                                                "customFields": {
                                                    "URLStruct": {
                                                        "incidentURL": "@{body('Parse_alert_JSON')?['customFields']?['incidentURL']?['string']}"
                                                    },
                                                    "alertStruct": {
                                                        "alertIDs": "@{body('Parse_alert_JSON')?['customFields']?['alertIds']?['string']}"
                                                    },
                                                    "numberStruct": {
                                                        "incidentNumber": "@body('Parse_alert_JSON')?['customFields']?['sentinelIncidentNumber']?['number']"
                                                    }
                                                },
                                                "description": "@{body('Parse_alert_JSON')?['description']}",
                                                "owner": "",
                                                "resolutionStatus": "@{triggerBody()?['object']?['resolutionStatus']}",
                                                "resolutionSummary": "@{triggerBody()?['object']?['resolutionSummary']}",
                                                "severity": "@body('Parse_alert_JSON')?['severity']",
                                                "source": "@{body('Parse_alert_JSON')?['source']}",
                                                "title": "@{body('Parse_alert_JSON')?['title']}",
                                                "tlp": "@body('Parse_alert_JSON')?['tlp']"
                                            },
                                            "objectId": "@{body('Parse_alert_JSON')?['id']}",
                                            "objectType": "",
                                            "operation": "",
                                            "organization": "@{triggerBody()?['organization']}"
                                        },
                                        "method": "POST",
                                        "uri": "@parameters('sentinel-la-closeincidentfromalertURL')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Set_alertjsonarray_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_alerts_from_TheHive_case": {
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "query": {
                                        "case": "@{triggerBody()?['objectId']}"
                                    }
                                },
                                "headers": {
                                    "Authorization": "Bearer @{body('Get_secret')?['value']}",
                                    "Content-Type": "application/json;charset=utf-8"
                                },
                                "method": "POST",
                                "uri": "http://@{parameters('theHiveURL')}:9000/api/alert/_search?range=all"
                            }
                        },
                        "Get_secret": {
                            "runAfter": {
                                "Initialize_successincidentnumbers_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('thehive-apikey')}/value"
                            }
                        },
                        "Initialize_alertjsonarray_variable": {
                            "runAfter": {
                                "Initialize_responsemessage_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "alertjsonarray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_responsemessage_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "responsemessage",
                                        "type": "string",
                                        "value": "{ \"message\": \"The is the default response message\"}"
                                    }
                                ]
                            }
                        },
                        "Initialize_successincidentnumbers_variable": {
                            "runAfter": {
                                "Initialize_alertjsonarray_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "incidentnumbers",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "set_responsemessage_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@variables('responsemessage')",
                                "statusCode": 200
                            }
                        },
                        "Set_alertjsonarray_variable": {
                            "runAfter": {
                                "Get_alerts_from_TheHive_case": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "alertjsonarray",
                                "value": "@body('Get_alerts_from_TheHive_case')"
                            }
                        },
                        "set_responsemessage_variable": {
                            "runAfter": {
                                "For_each_alertjson_in_alertjsonarray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "responsemessage",
                                "value": "{ \"message\" : \"Sentinel incidents @{variables('incidentnumbers')}closed successfully\"}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureKeyVaultConnectionName'))]",
                                "connectionName": "keyvault",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}