sentinel-logicapps/sentinel-la-closeASCalert/sentinel-la-closeASCalert.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "playbookName": {
            "defaultValue": "sentinel-la-closeASCalert",
            "type": "string"
        },
        "sentinelResourceGroupName": {
            "defaultValue": "sentinelResourceGroupName",
            "type": "string"
        },
        "sentinelSubscriptionId": {
            "defaultValue": "sentinelSubscriptionId",
            "type": "string"
        },
        "sentinelWorkspaceId": {
            "defaultValue": "sentinelWorkspaceId",
            "type": "string"
        },
        "sentinelWorkspaceName": {
            "defaultValue": "sentinelWorkspaceName",
            "type": "string"
        },
        "userName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureMonitorLogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureMonitorLogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('userName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('playbookName')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "sentinelSubscriptionId": {
                            "defaultValue": "[parameters('sentinelSubscriptionId')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "caseId": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "object": {
                                            "properties": {
                                                "customFields": {
                                                    "properties": {
                                                        "URLStruct": {
                                                            "properties": {
                                                                "incidentURL": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "alertStruct": {
                                                            "properties": {
                                                                "alertIDs": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "numberStruct": {
                                                            "properties": {
                                                                "incidentNumber": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "owner": {
                                                    "type": "string"
                                                },
                                                "resolutionStatus": {
                                                    "type": "string"
                                                },
                                                "resolutionSummary": {
                                                    "type": "string"
                                                },
                                                "severity": {
                                                    "type": "integer"
                                                },
                                                "source": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "tlp": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "objectId": {
                                            "type": "string"
                                        },
                                        "objectType": {
                                            "type": "string"
                                        },
                                        "operation": {
                                            "type": "string"
                                        },
                                        "organization": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@split(triggerBody()?['object']?['customFields']?['alertStruct']?['alertIDs'], ' ')",
                            "actions": {
                                "Call_Azure_API_to_dismiss_ASC_alert": {
                                    "runAfter": {
                                        "Run_query_and_list_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "POST",
                                        "uri": "https://management.azure.com/subscriptions/@{parameters('sentinelSubscriptionId')}/providers/Microsoft.Security/locations/westeurope/alerts/@{body('Run_query_and_list_results')['value'][0]['ascalertname']}/dismiss?api-version=2019-01-01"
                                    }
                                },
                                "Run_query_and_list_results": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "SecurityAlert\n| summarize arg_max(TimeGenerated, *) by SystemAlertId\n| where SystemAlertId in(\"@{items('For_each')}\")\n| where TimeGenerated >= ago (90d)\n| extend ascsubid = split(AlertLink, \"/\", 9) , ascrgname = split(AlertLink, \"/\", 11) , ascalertname = split(AlertLink, \"/\", 7)\n| extend ascsubid= tostring(ascsubid[0]) , ascrgname = tostring(ascrgname[0]) , ascalertname = tostring(ascalertname[0]) \n| project ascsubid , ascrgname , ascalertname ",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "[parameters('sentinelResourceGroupName')]",
                                            "resourcename": "[parameters('sentinelWorkspaceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[parameters('sentinelSubscriptionId')]",
                                            "timerange": "Set in query"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        },
                        "Response": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "message": "ASC alert dismissed"
                                },
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                                "connectionName": "[variables('AzureMonitorLogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('playbookName')), '/triggers/manual'), '2016-06-01').value]"
         }
    }
}