sentinel-logicapps/sentinel-la-closeincidentfromalert/sentinel-la-closeincidentfromalert.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "playbookName": {
            "defaultValue": "sentinel-la-closeincidentfromalert",
            "type": "string"
        },
        "sentinel-la-closeASCalertURL": {
            "defaultValue": "sentinel-la-closeASCalertURL",
            "type": "string"
        },
        "sentinelResourceGroupName": {
            "defaultValue": "sentinelResourceGroupName",
            "type": "string"
        },
        "sentinelSubscriptionId": {
            "defaultValue": "sentinelSubscriptionId",
            "type": "string"
        },
        "sentinelWorkspaceId": {
            "defaultValue": "sentinelWorkspaceId",
            "type": "string"
        },
        "userName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('playbookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('playbookName')]",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "sentinel-la-closeASCalertURL": {
                            "defaultValue": "[parameters('sentinel-la-closeASCalertURL')]",
                            "type": "String"
                        },
                        "sentinelResourceGroupName": {
                            "defaultValue": "[parameters('sentinelResourceGroupName')]",
                            "type": "String"
                        },
                        "sentinelSubscriptionId": {
                            "defaultValue": "[parameters('sentinelSubscriptionId')]",
                            "type": "String"
                        },
                        "sentinelWorkspaceId": {
                            "defaultValue": "[parameters('sentinelWorkspaceId')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "caseId": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "object": {
                                            "properties": {
                                                "customFields": {
                                                    "properties": {
                                                        "URLStruct": {
                                                            "properties": {
                                                                "incidentURL": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "alertStruct": {
                                                            "properties": {
                                                                "alertIDs": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "numberStruct": {
                                                            "properties": {
                                                                "incidentNumber": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "owner": {
                                                    "type": "string"
                                                },
                                                "resolutionStatus": {
                                                    "type": "string"
                                                },
                                                "resolutionSummary": {
                                                    "type": "string"
                                                },
                                                "severity": {
                                                    "type": "integer"
                                                },
                                                "source": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "tlp": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "objectId": {
                                            "type": "string"
                                        },
                                        "objectType": {
                                            "type": "string"
                                        },
                                        "operation": {
                                            "type": "string"
                                        },
                                        "organization": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Alert_source_switch": {
                            "runAfter": {
                                "Initialize_responsemessage_variable": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "If_source_is_MCAS": {
                                    "case": "Sentinel:Microsoft Cloud App Security",
                                    "actions": {}
                                },
                                "If_source_is_Security_Center": {
                                    "case": "Sentinel:Azure Security Center",
                                    "actions": {
                                        "Call_sentinel-la-closeASCalert_Logic_App": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "body": "@triggerBody()",
                                                "method": "POST",
                                                "uri": "@parameters('sentinel-la-closeASCalertURL')"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody()?['object']?['source']",
                            "type": "Switch"
                        },
                        "If_Sentinel_Incident_number_!=_0": {
                            "actions": {
                                "Switch": {
                                    "runAfter": {},
                                    "cases": {
                                        "If_resolutionstatus_=_TruePositive": {
                                            "case": "TruePositive",
                                            "actions": {
                                                "Close_Sentinel_Incident_as_TruePositive": {
                                                    "runAfter": {
                                                        "For_each_alert_in_AlertIds_1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "CloseReason": "TruePositive",
                                                            "CloseReasonText": "@triggerBody()?['object']?['resolutionSummary']"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber'])}/Status/@{encodeURIComponent('Closed')}"
                                                    }
                                                },
                                                "For_each_alert_in_AlertIds_1": {
                                                    "foreach": "@split(triggerBody()?['object']?['customFields']?['alertStruct']?['alertIDs'], ' ')",
                                                    "actions": {
                                                        "Close_Sentinel_alert_as_TruePositive": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "CloseReason": "TruePositive",
                                                                    "CloseReasonText": "@triggerBody()?['object']?['resolutionSummary']"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(items('For_each_alert_in_AlertIds_1'))}/Status/@{encodeURIComponent('Closed')}"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                },
                                                "Set_responsemessage_variable_for_closed_case_as_TruePositive": {
                                                    "runAfter": {
                                                        "Close_Sentinel_Incident_as_TruePositive": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "responsemessage",
                                                        "value": "{  \"message\": \"Closed Sentinel incident @{triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber']} as TruePositive\" }"
                                                    }
                                                }
                                            }
                                        },
                                        "if_resolutionstatus_=_FalsePositive": {
                                            "case": "FalsePositive",
                                            "actions": {
                                                "Close_Sentinel_Incident_as_FalsePositive": {
                                                    "runAfter": {
                                                        "For_each_alert_in_AlertIds_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "CloseReason": "FalsePositive",
                                                            "CloseReasonText": "@triggerBody()?['object']?['resolutionSummary']"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber'])}/Status/@{encodeURIComponent('Closed')}"
                                                    }
                                                },
                                                "For_each_alert_in_AlertIds_2": {
                                                    "foreach": "@split(triggerBody()?['object']?['customFields']?['alertStruct']?['alertIDs'], ' ')",
                                                    "actions": {
                                                        "Close_Sentinel_alert_as_FalsePositive": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "CloseReason": "FalsePositive",
                                                                    "CloseReasonText": "@triggerBody()?['object']?['resolutionSummary']"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(items('For_each_alert_in_AlertIds_2'))}/Status/@{encodeURIComponent('Closed')}"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                },
                                                "Set_responsemessage_variable_for_closed_case_as_FalsePositive": {
                                                    "runAfter": {
                                                        "Close_Sentinel_Incident_as_FalsePositive": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "responsemessage",
                                                        "value": "{  \"message\": \"Closed Sentinel incident @{triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber']} as FalsePositive\" }"
                                                    }
                                                }
                                            }
                                        },
                                        "if_resolutionstatus_=_Indetermined": {
                                            "case": "Indetermined",
                                            "actions": {
                                                "Close_Sentinel_Incident": {
                                                    "runAfter": {
                                                        "For_each_alert_in_AlertIds_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber'])}/Status/@{encodeURIComponent('Closed')}"
                                                    }
                                                },
                                                "For_each_alert_in_AlertIds_3": {
                                                    "foreach": "@split(triggerBody()?['object']?['customFields']?['alertStruct']?['alertIDs'], ' ')",
                                                    "actions": {
                                                        "Close_Sentinel_alert": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(items('For_each_alert_in_AlertIds_3'))}/Status/@{encodeURIComponent('Closed')}"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                },
                                                "Set_responsemessage_variable_for_closed_case": {
                                                    "runAfter": {
                                                        "Close_Sentinel_Incident": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "responsemessage",
                                                        "value": "{  \"message\": \"Closed Sentinel incident @{triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber']}\" }"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "Close_Sentinel_Incident_as_FalsePositive_2": {
                                                "runAfter": {
                                                    "For_each_alert_in_AlertIds_4": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "CloseReason": "FalsePositive"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "put",
                                                    "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber'])}/Status/@{encodeURIComponent('Closed')}"
                                                }
                                            },
                                            "For_each_alert_in_AlertIds_4": {
                                                "foreach": "@split(triggerBody()?['object']?['customFields']?['alertStruct']?['alertIDs'], ' ')",
                                                "actions": {
                                                    "Close_Sentinel_Alert_as_FalsePositive_2": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "CloseReason": "FalsePositive"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method": "put",
                                                            "path": "/Case/@{encodeURIComponent(parameters('sentinelSubscriptionId'))}/@{encodeURIComponent(parameters('sentinelWorkspaceId'))}/@{encodeURIComponent(parameters('sentinelResourceGroupName'))}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(items('For_each_alert_in_AlertIds_4'))}/Status/@{encodeURIComponent('Closed')}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "type": "Foreach"
                                            },
                                            "Set_responsemessage_variable_for_ignored_alert": {
                                                "runAfter": {
                                                    "Close_Sentinel_Incident_as_FalsePositive_2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "responsemessage",
                                                    "value": "{  \"message\": \"Closed Sentinel incident @{triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber']} as False Positive from ignored alert\" }"
                                                }
                                            }
                                        }
                                    },
                                    "expression": "@triggerBody()?['object']?['resolutionStatus']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Alert_source_switch": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Set_responsemessage_variable": {
                                        "runAfter": {},
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "responsemessage",
                                            "value": "{ \"message\": \"Alert does not have a Sentinel incident number\"}"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@triggerBody()?['object']?['customFields']?['numberStruct']?['incidentNumber']",
                                                0
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_responsemessage_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "responsemessage",
                                        "type": "string",
                                        "value": "{ \"message\": \"The is the default response message\"}"
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "If_Sentinel_Incident_number_!=_0": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@variables('responsemessage')",
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('playbookName')), '/triggers/manual'), '2016-06-01').value]"
         }
    }
}